name: Deploy Pages

on:
  workflow_dispatch:
      
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            persist-credentials: false
   
      - name: Prepare deployment folder
        run: |
          mkdir deploy
          cp index.html deploy/
        
      - name: Deploy to GitHub Pages branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: gh-pages
          FOLDER: deploy
          TOKEN: ${{ secrets.ACCESS_TOKEN }}
          CLEAN: true